<!DOCTYPE html>

<html lang="en">

<head>

    {{> head}}

</head>

<body>
    <!-- Navigation -->
    {{> navigation}}

	<!-- body -->
    {{{ body }}}
    
	<!-- Footer -->
    {{> footer}}

    {{> bottom_scripts}}

</body>

</html>
