<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>This domian is on sale to purchase!</h1>
            <p>Contact srikant.vasudevan@gmail.com</p>
        </div>
    </div>
</header>
